include README.rst
include requirements.txt
include LICENSE
include NOTICE
include infra.yaml
include users.json
include vsphere_testing.py
recursive-include examples *
recursive-include specifications *