include README.md
include requirements.txt
include LICENSE
include NOTICE
include CHANGELOG.md
include docs/adles.1
recursive-include examples *
recursive-include specifications *
global-exclude *.py[cdo] __pycache__ *.so *.pyd .DS_Store